<ul class="pager">
    {% if paginator.next_page %}
        <li class="previous"><a href="/blog/page{{ paginator.next_page }}">&larr; Older posts</a></li>
    {% else %}
        <li class="previous disabled"><a>&larr; Older posts</a></li>
    {% endif %}

    <li class="pagenumber disabled"><a>Page {{ paginator.page }} of {{ paginator.total_pages }}</a></li>
    <li class="index"><a href="/archives">Index</a></li>

    {% if paginator.previous_page %}
        <li class="next">
            {% if paginator.page > 2 %}
                <a href="/blog/page{{ paginator.previous_page }}">Newer posts &rarr;</a>
            {% else %}
                <a href="/blog/">Newer posts &rarr;</a>
            {% endif %}
        </li>
    {% else %}
        <li class="next disabled"><a>Newer posts &rarr;</a></li>
    {% endif %}
</ul>
