---
layout: default
title: beryx.org - About
tabname: about
---

    <div class="container">
        <div class="page-header">
            <h1>About {{ site.title }}</h1>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <img src="/images/photo.jpg" />
            <p style="padding-top: 12px;">{% include icon-github.html %}</p>
            <p style="padding-top: 2px;">{% include icon-twitter.html %}</p>
          </div>
            <div class="col-sm-10">
                <p>&nbsp;</p>
                <p>This is the personal website of {{ site.author }}.</p>
                <p>I am a software engineer living in Bonn, Germany.</p>
                <p>On this site, I write mostly about open source projects I work on in my free time.</p>
            </div>
        </div>
    </div>
